/.vs
/.vscode
.idea
pgdata/
build/
/cmake-build-debug-vs/
/cmake-build-debug/
/cmake-build-release/
/cmake-build-debug-visual-studio/
/cmake-build-debug-mingw/
/cmake-build-release-vs/

# macOS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

.gitmodules